# Auto detect text files and perform LF normalization
* text=auto
data/mm/metamodel-sample.slexmm filter=lfs diff=lfs merge=lfs -text
data/mssql/wwi.bak filter=lfs diff=lfs merge=lfs -text
data/ds2/ds21/ds21.tar.gz filter=lfs diff=lfs merge=lfs -text
